:root {
  /* colors */
  --farbe2: rgb(3, 120, 174); 
  --farbe1: rgb(35, 35, 35); 
  --farbe3: rgb(21, 35, 62);

  --border-farbe:rgb(0, 12, 20);
  --bg-weiss: rgb(198, 195, 195);

  --bg-grau1: rgba(54, 55, 55, 0.5);
  --bg-grau2: rgba(54, 55, 55, 0.8);
  --bg-grau3: rgba(54, 55, 55, 0.9);
  --bg-max-grau: rgb(54, 55, 55);

  --bg-gruen1:rgba(9, 36, 44, 0.7);
  --bg-gruen2:rgba(9, 36, 44, 0.8);
  --bg-gruen3:rgba(9, 36, 44, 0.9);
  --bg-max-gruen:rgb(9, 36, 44);
  --bg-gruen: rgba(11, 27, 33, 0.9);

  --bg-blau0000: rgb(4,39,65);
  --bg-blau000: rgb(95, 119, 170);
  --bg-blau00: rgb(51, 89, 172);
  
  --bg-blau: rgb(17, 58, 90);
  --bg-blau-3: rgba(17, 58, 90,0.3);
  --bg-blau0: rgba(17, 58, 90,0.6);
  --bg-blau1: rgba(17, 58, 90,0.7);
  --bg-blau2: rgba(17, 58, 90,0.8);
  --bg-blau3: rgba(17, 58, 90,0.9);
  --bg-blau-dunkel: rgb(0, 12, 20);
  --bg-blau-light: rgb(37, 80, 113);

  --bg-hell-blau:  rgb(93, 141, 179);
  --bg-hell-blau0: rgba(93, 141, 179, 0.6);
  --bg-hell-blau1: rgba(93, 141, 179, 0.7);
  --bg-hell-blau2: rgba(93, 141, 179, 0.8);
  --bg-hell-blau3: rgba(93, 141, 179, 0.9);

  --bg-orange: rgb(199, 102, 18);
  --bg-orange0: rgb(199, 102, 18, 0.6);
  --bg-orange1: rgb(199, 102, 18, 0.7);
  --bg-orange2: rgb(199, 102, 18, 0.8);
  --bg-orange3: rgb(199, 102, 18, 0.9);

  --bg-hell-gruen: rgba(99, 159, 99, 0.4);
  --textfarbe: rgb(237, 232, 232);
  --textfarbe-standard: rgb(51, 51, 51);

  --h-farbe: #38b3f5;
  --textfarbe-light: #ffffff;
  --text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;

     --text-shadow-hell: 
    -0.5px -0.5px 0 #38b3f5,
     0.5px -0.5px 0 #38b3f5,
    -0.5px  0.5px 0 #38b3f5,
     0.5px  0.5px 0 #38b3f5;

     --text-shadow-white: 
    -0.5px -0.5px 0 white,
     0.5px -0.5px 0 white,
    -0.5px  0.5px 0 white,
     0.5px  0.5px 0 white;
     --text-shadow-orange: 
    -0.5px -0.5px 0 #c76612,
     0.5px -0.5px 0 #c76612,
    -0.5px  0.5px 0 #c76612,
     0.5px  0.5px 0 #c76612;


  --farbe-success: #28a745;
  --farbe-danger: #dc3545;
  --farbe-warning: #ffc107;
  --farbe-info: #17a2b8;

  /* 📏 Responsive Spacing */
  --space-3xs: clamp(0.03125rem, 0.075vw, 0.0625rem);
  --space-2xs: clamp(0.0625rem, 0.15vw, 0.125rem);
  --space-xs: clamp(0.125rem, 0.3vw, 0.25rem);
  --space-s: clamp(0.25rem, 0.6vw, 0.5rem);
  --space-m: clamp(0.5rem, 1.2vw, 1rem);
  --space-l: clamp(1rem, 2.4vw, 2rem);
  --space-ll: clamp(1.5rem, 3.4vw, 2.5rem);
  --space-xl: clamp(2rem, 4.8vw, 4rem);
  --space-xll: clamp(3rem, 7.2vw, 6rem);
  --space-2xl: clamp(4rem, 9.6vw, 8rem);
  --space-3xl: clamp(6rem, 14.4vw, 12rem);
  --space-4xl: clamp(8rem, 19.2vw, 16rem);

  /* ✨ Padding*/
  --section-padding-m: clamp(1rem, 5vw, 4rem);
  --section-padding-l: clamp(2rem, 8vw, 6rem);

  /* ✍️ Font*/

  --font: 'Source Sans Pro',sans-serif;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem; /*  تم */
  --font-size-l: 1.25rem;
  --font-size-xl: 1.75rem;
}

/***** ALLGEMEIN ********************************************/
/***** ALLGEMEIN ********************************************/
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: var(--font);
  font-size: var(--font-size-m);
  color: var(--textfarbe);
  font-style: normal;
  letter-spacing: var(--space-3xs);
  background-color: var(--bg-blau);
}
 

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  
}

*:before,
*:after {
  box-sizing: inherit;
}

/***** HEADER ********************************************/
/***** HEADER ********************************************/

header {
  
  box-shadow: 0 10px 10px var(--bg-orange1);
   background: linear-gradient(
    to top,
    #386e98 0%,
    #26587e 50%,
    var(--bg-blau) 100%
  ); 
  width: 100%;
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: var(--space-s) var(--space-xl);
  align-items: center; 
  z-index: 999;
}
.header-nav {
  align-self: flex-end;

}
.logo {
  max-height: var(--space-2xl);
}
.menu {
  list-style: none;
  display: flex;
  gap: var(--space-l);
}

.menu li, .dropdown-menu li {
  position: relative;
  display: inline-block;
  border-radius: 5%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.dropdown-menu li{
  padding-inline: 0;
  width: 100%;
  text-align: center;
}



.menu li a , .dropdown-menu li a {
  padding: var(--space-m);
  display: block;
  color: var(--bg-blau-dunkel);
  text-decoration: none;
  font-weight: bold;
  
}

.dropdown-menu li:hover, .menu li:hover,
.dropdown-menu li:focus-within, .menu li:focus-within {
  background-color: var(--h-farbe);
}

.dropdown-toggle {
  display: inline-flex;
  align-items: center;
  gap: var(--space-s);
  text-decoration: none;
}
 
 .menu-toggle {

  display: none;
  text-decoration: none;
  font-size: var(--font-size-xl);
  font-style: normal;
  cursor: pointer;
  user-select: none;
  padding-inline: var(--space-s);
  border: 2px var(--h-farbe) solid;
  border-radius: 25%;
  color: var(--h-farbe);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top:110%;
  left: 0;
  background-color: #386e98; 
  border-radius: 5%;
  min-width: 10rem;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-0.7rem);
  transition: opacity 0.6s ease, transform 0.6s ease, visibility 0.6s ease;
}

.dropdown.open .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  
}

.arrow {
  display: inline-block;
  font-size: var(--font-size-s);
  transition: transform 0.6s ease;
}



.dropdown.open .arrow{
  transform: rotate(180deg);
}


/***** MAIN ********************************************/
/***** MAIN ********************************************/
main{
  min-height: 100%;
  flex: 1;
}

.section-startseite {
  min-height: 100%;
  padding-top: calc(5* var(--space-2xl));
  padding-bottom: var(--space-2xl);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/urein2.png");
  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top; 
}

.reinigung-div,
.bewerber {
  min-height: 100%;
  padding-top: var(--space-3xl);
}

.overlay-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-blau1);
  padding: var(--space-xl);
  border-radius: 50%;
  box-shadow: 0 10px 10px var(--bg-orange1);
  opacity: 0;
  transform: translateY(-50px) scale(0.95);
  animation: welcomeIn 1.5s ease-out forwards;
  animation-delay: 0.1s;
}
.overlay-text label {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-m);
  color: var(--bg-orange);
  text-decoration: none;
  font-weight: bold;
}
.overlay-text p {
  font-size: var(--font-size-m);
  color: var(--bg-blau-dunkel);
  text-decoration: none;
  font-weight: bold;
}

@keyframes welcomeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.btn {
  display: inline-block;
  background-color: var(--bg-blau);
  padding: var(--space-s) var(--space-m);
  text-decoration: none;
  cursor: pointer;
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0.05em;
  color: var(--bg-orange);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--bg-orange);
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}
.btn:hover {
  transform: scale(1.1);
}



/***********************************************************/
/**************** Reinigungsdienste *************************/
.reinigung{
    
       background: linear-gradient(
    to top,
    #386e98 0%,
    #26587e 50%,
    var(--bg-blau) 100%
  ); 
}

.reinigungsdienste-intro {
  padding-top: var(--space-2xl);
  padding-inline:  var(--space-l);
  text-align: center;
  border-top: 3px solid var(--bg-orange);
  
}

.reinigungsdienste-intro .container {
  max-width: 45%;
  margin: 0 auto;
  text-align: justify;
}

.reinigungsdienste-intro h2 ,
.personalservice-text h2,
.transport-text h2 {
  margin-inline: 30%;
  margin-bottom: var(--space-xl);
    color: var(--bg-orange);
  font-weight: 800;
  padding: var(--space-m);
  border-radius: 5%;
  box-shadow: 0 20px 10px var(--bg-blau-dunkel);
}

.reinigungsdienste-intro p {
  color: black;
font-size: var(--font-size-m);
line-height: var(--space-l);
font-weight: normal;
}

/*********************************************************/
/********************Reinigungs-Boxes*********************/
/*********************************************************/

.reinigungsdienste-section {
  padding: var(--space-2xl) var(--space-l);
  text-align: center;
  border-bottom: 3px solid var(--bg-orange);
}
.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-xl);
}
.unterhaltsreinigung-box{
background: linear-gradient(to top,
      transparent 0%,
    transparent 25%,
    var(--bg-blau1) 50%,
    var(--bg-blau2) 70%,
    var(--bg-blau) 100%
  ),
  url("Images/markt.png");
}
.fassadenreinigung-box{
  background: linear-gradient(to top,
      transparent 0%,
    transparent 25%,
    var(--bg-blau1) 50%,
    var(--bg-blau2) 70%,
    var(--bg-blau) 100%
  ),
  url("Images/farein.png");
}
.fensterreinigung-box{
  background: linear-gradient(to top,
    transparent 0%,
    transparent 25%,
    var(--bg-blau1) 50%,
    var(--bg-blau2) 70%,
    var(--bg-blau) 100%
  ),
  url("Images/rein2.png");
}
.teppichreinigung-box{
  background: linear-gradient(to top,
      transparent 0%,
    transparent 25%,
    var(--bg-blau1) 50%,
    var(--bg-blau2) 70%,
    var(--bg-blau) 100%
  ),
  url("Images/tr2.png");
}
.gebaeudereinigung-box{
background: linear-gradient(to top,
    transparent 0%,
    transparent 25%,
    var(--bg-blau1) 50%,
    var(--bg-blau2) 70%,
    var(--bg-blau) 100%
  ),
  url("Images/grein.png");
}
.sonderreinigung-box{
  background: linear-gradient(to top,
    transparent 0%,
    transparent 25%,
    var(--bg-blau1) 50%,
    var(--bg-blau2) 70%,
    var(--bg-blau) 100%
  ),
  url("Images/sr.png");
}


.service-box {
 border-radius: 2%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--bg-blau-dunkel);
  background-size: cover;   
  background-position: center; 
  background-repeat: no-repeat;
  padding-inline: var(--space-m);
  padding-top: var(--space-m); 
  padding-bottom: calc( 2 * var(--space-4xl));
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
  cursor: pointer;
  width: 25%;
  box-shadow: 0 20px 10px var(--bg-blau);
}
.service-box.visible {
  opacity: 1;
  transform: translateY(0);
}

.service-box:hover {
  transform: translateY(20px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.service-box h3 {
  margin-top: var(--space-s);
  margin-bottom: var(--space-m);
  color: var(--bg-orange);
  font-weight: 600;}

.service-box p  {
  color: black;
  font-size: var(--font-size-m);
  font-weight: normal;
  line-height: var(--space-ll);
}
#mehr{
  color: #359ed6;
}

/*********************************************************/
/********Personalservice*************************************/
/**********************************************************/
 .personalservice-section {
min-height: 100%;
padding-top:  calc(3* var(--space-4xl));
text-align: center;
background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/kasse4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.personalservice-content {
  text-align: center;
  width: 100%;
} 


.personalservice-text{
    background: linear-gradient(
    to top,
    #386e98 0%,
    #26587e 50%,
    var(--bg-blau) 100%
  ); 
  width: 100%;
  padding-block: var(--space-xl);
  padding-inline: var(--space-l);
  border-top : 3px solid var(--bg-orange);
  border-bottom : 3px solid var(--bg-orange);
  text-align: center;
}

.personalservice-p {
  max-width: 50%;
  margin: 0 auto;
  text-align: justify;

}

.personalservice-text p {
  color: black;
font-size: var(--font-size-m);
line-height: var(--space-l);
font-weight: normal;
}

.personalservice-image {
  width: 100%;
  text-align: center;
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.personalservice-grid {
    display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--space-xl);
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.span h4 {
  font-size: var(--font-size-m);
  color: var(--bg-orange);
  line-height: var(--space-l);
}

.hotel{
  background: linear-gradient(to top,
    transparent 0%,
    transparent 50%,
    var(--bg-blau2) 75%,
    var(--bg-blau) 100%
  ),
  url("Images/rein1.png");
}

.theke{
  background: linear-gradient(to top,
    transparent 0%,
    transparent 50%,
    var(--bg-blau2) 75%,
    var(--bg-blau) 100%
  ),
  url("Images/theke4.png");
}
.kasse{
  background: linear-gradient(to top,
    transparent 0%,
    transparent 50%,
    var(--bg-blau2) 75%,
    var(--bg-blau) 100%
  ),
  url("Images/kasse2.png");
}

/* Responsive */
@media (max-width: 900px) {
  .personalservice-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .personalservice-image, .personalservice-text {
    width: 100%;
  }
}

/*********************************************************/
/********Transport*************************************/
/**********************************************************/
.transport{
min-height: 100%;
padding-top:  calc(3* var(--space-4xl));
text-align: center;
background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/transport2.png");
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
}
.transport-div{
  text-align: center;
  width: 100%;
}


.transport-text{
  background: linear-gradient(
    to top,
    #386e98 0%,
    #26587e 50%,
    var(--bg-blau) 100%
  ); 
  width: 100%;
  padding-block: var(--space-2xl);
  padding-inline: var(--space-l);
  border-top: 3px solid var(--bg-orange);
  text-align: center;
}
.transport-p{
  max-width: 45%;
  margin: 0 auto;
  text-align: justify;

}


.kontakt-kontainer{
  padding-top: var(--space-xl);
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}
.transport-kontakt{
  max-width: 50%;
  margin: 0 auto; 
  text-align: start;
  
}

.transport-text p  {

  color: black;
font-size: var(--font-size-m);
line-height: var(--space-l);
font-weight: normal;
}


.transport-kontakt p a {
  color: var(--bg-blau0000);
  text-decoration: none;
  font-size: var(--font-size-l);
  line-height: var(--space-ll);
  font-weight: normal;
  transition: all 1.4s ease;
}

.transport-kontakt p a:hover {
  text-decoration: underline;
}


.transport-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-xl);
  padding-top: var(--space-xl);
  padding-bottom: var(--space-2xl);
}
.packen{
  background: linear-gradient(to top,
    transparent 0%,
    transparent 50%,
    var(--bg-blau2) 75%,
    var(--bg-blau) 100%
  ),
  url("Images/packen.png");
}
.tragen{
  background: linear-gradient(to top,
      transparent 0%,
    transparent 50%,
    var(--bg-blau2) 75%,
    var(--bg-blau) 100%
  ),
  url("Images/transport1.png");
}

.abbauen{
  background: linear-gradient(to top,
    transparent 0%,
    transparent 50%,
    var(--bg-blau2) 75%,
    var(--bg-blau) 100%
  ),
  url("Images/abb.png");
}
.liefern{
background: linear-gradient(to top,
    transparent 0%,
    transparent 50%,
    var(--bg-blau2) 75%,
    var(--bg-blau) 100%
  ),
  url("Images/liefern.jpg");
}

.span {
 border-radius: 2%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--bg-blau-dunkel);
  background-size: cover;    
  background-position: center;  
  background-repeat: no-repeat; 
  padding-top: var(--space-m); 
  padding-bottom: calc( 2 * var(--space-4xl));
  text-align: center; 
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
  width: 20%;
  box-shadow: 0 20px 10px var(--bg-blau);
}
.span h3 {
  color: var(--bg-orange);
  font-weight: 600;
}
.span.visible {
  opacity: 1;
  transform: translateY(0);
}

/*********************************************************/
/**************Reinigungs-Seiten**************************/
/*********************************************************/
.ur-bg{
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/markt.png");
}

.far-bg{
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/farein.png");
}
.fer-bg{
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/rein2.png");
}
.tepr-bg{
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/tr2.png");
}
.ger-bg{
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/grein.png");
}
.sor-bg{
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/sr.png");
}

.reinigung-div{
  padding-top:  calc(3* var(--space-4xl));
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;  
}


.r-inhalt , .text-container2{
  position: relative;
  display: flex;
  background: linear-gradient(
    to top,
    #386e98 0%,
    #26587e 50%,
    var(--bg-blau) 100%
  ); 
  padding-top: var(--space-xl);
  padding-bottom:  var(--space-xl);
  width: 100%;
  min-height: 100%;
  flex-flow: column nowrap;
  gap: var(--space-m);
  justify-content: center;
  align-content: center;
  align-items: center;

}

.text-container {
text-align: center;
padding: var(--space-l);
  margin-bottom: 1rem;
  width: 50%;
}

.r-h{
color: var(--bg-orange);
margin-bottom: var(--space-l);
text-align:center;
font-size: var(--font-size-xl);
}
.r-p{
color: black;
font-size: var(--font-size-m);
text-align:justify;
line-height: var(--space-l);
font-weight: normal;
padding-bottom: var(--space-l);
}

.con2 {
  max-width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: var(--space-xl);
  gap: var(--space-m);
}
.text-container2b {
  border-radius: 2%;
    background: linear-gradient(
    to top,
    #386e98 0%,
    #26587e 50%,
    var(--bg-blau) 100%
  ); 
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-farbe);
}

.ziel {
  font-size: var(--font-size-m);
  line-height: var(--space-l);
}

/*********************************************************/
/************************Footer***************************/
/*********************************************************/
footer{
  position: relative;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #386e98 0%,
    #26587e 50%,
    var(--bg-blau) 100%
  );
}

.footer-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: var(--space-2xl);
  padding-inline: var(--space-xl);
  padding-bottom: var(--space-2xl);
  gap: var(--space-xl);
  max-width: 100%;
}

.footer-div {
  flex: 1 1 auto;
}
.footer-logo {
  flex: 0 1 auto;
}
.footer-logo img {
  max-height: var(--space-3xl);
}

.footer-div ul {
  list-style: none;
  padding: 0;
}

.footer-div p,
.footer-div p a,
.footer-div ul li a {
  margin: unset;
  text-decoration: none;
  font-size: var(--font-size-m);
  font-weight: normal;
  line-height: var(--space-ll);
  transition: all 0.4s ease;
}
.footer-div p{
  
  color: var(--h-farbe);
  color: var(--bg-blau-dunkel);
  font-weight: bold;
}
.footer-div ul li a,
.footer-div p a {
  color: var(--bg-blau-dunkel);
}
.footer-div h5 {
  color: var(--bg-orange);
  font-size: var(--font-size-m);
  line-height: var(--space-l);
}

.footer-div ul li a:hover,
.footer-div p a:hover {
  text-decoration: underline;
}
.footer-bottom {
  text-align: center;
  padding-block: var(--space-xl);
   background: linear-gradient(
    to bottom,
    #386e98 0%,
    #26587e 50%,
    var(--bg-blau) 100%
  );
}
.footer-bottom p {
  font-size: var(--font-size-m);
  font-weight: bold;
  color: var(--bg-orange);
}

/************************************************************************/
/*********  Bewerber/Personal-Anfrage *************/
/************************************************************************/

.personal{
background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/kasse1.png");  
}

.bewerber{
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/kasse3.png");
}

.transportformular-section{
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--bg-blau) 100%
  ),
  url("Images/liefern2.jpg");
}
.personal , .bewerber , .transportformular-section{
padding-top:  calc(3* var(--space-4xl));
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center calc(0% + 20px);
  background-attachment: fixed;  
}

.bewerber-div,
.personal-div ,
.transportformular-div{
    position: relative;
  display: flex;
  background: linear-gradient(
    to top,
    #386e98 0%,
    #26587e 50%,
    var(--bg-blau) 100%
  ); 
  padding-top: var(--space-xl);
  padding-bottom:  var(--space-3xl);
  width: 100%;
  min-height: 100%;
  flex-flow: column nowrap;
  gap: var(--space-m);
  justify-content: center;
  align-content: center;
  align-items: center;
}

.bewerber-text,
.personal-text,
.transportformular-text{
  padding: var(--space-l);
  margin-bottom: 1rem;
  width: 50%;
}
.bewerber-text h2,
.personal-text h2 ,
.transportformular-text h2{
color: var(--bg-orange);
margin-bottom: var(--space-l);
text-align:center;
font-size: var(--font-size-xl);
}
.bewerber-text p,
.personal-text p,
.transportformular-text p{
color: black;
font-size: var(--font-size-m);
text-align:justify;
line-height: var(--space-l);
font-weight: normal;
}
.bewerberForm,
.personalForm ,
.transportformular{
border: var(--bg-max-gruen) 2px solid;
border-radius: 5px;
  padding-inline: var(--space-l);
  padding-block: var(--space-m);
  width: 50%;
  background-color: #26587e;
}

.input-container {
  position: relative;
  margin-top: 1rem;
}


.kontakt-optionen {
  margin-top: 1rem;
}
.kontakt-optionen p {
  text-align: start;
}
.telefon-link , .whatsapp-link{
  color: var(--h-farbe);
  text-decoration: none;
  font-weight: bold;
}

.telefon-link:hover, .whatsapp-link:hover {
  text-decoration: underline;
}

.personalForm legend ,
.bewerberForm legend ,
.transportformular legend{
  display: block;
  margin-top: var(--space-m);
  font-weight: bold;
}

.bewerberForm input, .bewerberForm select,
.personalForm input, .personalForm select,
.personalForm textarea,
.transportformular input, .transportformular select,
.transportformular textarea {
  width: 100%;
  min-height: var(--space-ll);
  padding-top: var(--space-m);
  padding-bottom: var(--space-s);
  padding-left: var(--space-s);
  border: 1px solid var(--bg-max-gruen);
  border-radius: 5px;
  outline: none;
  background-color: rgb(182, 216, 241);
}


.input-container label {
  position: absolute;
  top: 0;
  left: var(--space-s);
  color: #333;
  font-size: 0.8rem;
  pointer-events: none;
  background-color: transparent;

  
}


#lebenslauf {
  color: #333;

}

.datenschutz-div {
  width: 100%;
  display: inline-flex;
  align-items:flex-start;
  font-size: var(--font-size-s);
 box-sizing: border-box;
  word-wrap: break-word;
  padding-block: var(--space-l);
  
}

.datenschutz-div input[type="checkbox"] {
width: auto;
flex-shrink: 0;
}
.datenschutz-div label {
  margin-left: 4px;
  cursor: pointer;
   display: block;
  width: 100%;
  word-break: break-word;
  font-size: var(--font-size-s);
}

.btn-div{
  text-align: left;
}
.senden{
  margin-top: var(--space-m);  
}

#dankeNachricht,
#dankeNachricht2 {
  text-align: center;
  background: transparent;
color: var(--h-farbe);
}

.hidden {
  display: none;
}

.input-error {
  border: 2px solid red;
}

.error-message {
  color: red;
  font-size: 0.85em;
  margin-top: 2px;
}

/************************************************************************/
/*********  Über uns/ Impressum *************/
/************************************************************************/
.uns{
background: linear-gradient(
    to bottom,
    var(--bg-blau2) 0%,
    var(--bg-blau2) 30%,
    var(--bg-blau3) 50%,
    var(--bg-blau3) 70%,
    var(--bg-blau) 100%
  ),
  url("Images/ueber_als.jpg");
}
.impressum{
  background: linear-gradient(
    to bottom,
    var(--bg-blau2) 0%,
    var(--bg-blau2) 30%,
    var(--bg-blau3) 50%,
    var(--bg-blau3) 70%,
    var(--bg-blau) 100%
  ),
  url("Images/impressum.jpg");
}
.uns-impressum{
  padding-top: var(--space-2xl);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center calc(0% + 20px);
  background-attachment: fixed;  
}
.uns-container , .impressum-container{
  width: 50%;
  margin:  auto;
  padding: var(--space-2xl) var(--space-l);
  
  
}
 .uns-container h1 , .impressum-container h1 {
      color: var(--h-farbe);
      font-size: var(--font-size-xl);
      margin-bottom: 10px;
    }
.impressum-container h3 {
  color: var(--bg-orange);
  margin-top: var(--space-xl);
  margin-bottom: var(--space-m);
}


  .uns-container  p , .impressum-container p {
      margin-bottom: 15px;
      color: var(--bg-blau-dunkel);
      font-size: var(--font-size-m);
      font-weight: bold;
      line-height: var(--space-l);
      text-align: justify;
      text-decoration: none;
    }
 .uns-container .highlight {
      font-weight: bold;
      color: var(--bg-orange);
      font-size: 1.1em;
      margin-top: 20px;
    }


/************************************************************************/
/*********Responsive *************/
/************************************************************************/
@media screen and (min-width: 1080px) {
  
  .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  }
.dropdown:hover .arrow{
  transform: rotate(180deg);
}

}
/************************************************************************/
/************************************************************************/

@media (min-width: 510px) and (max-width: 1080px) {
  .header-nav {
    width: 100%;
  }
    .menu-toggle {
    display: block;
    position: absolute;
    bottom: var(--space-m);
    right: var(--space-l);
  }
  .menu {
    border-radius: 5%;
    display: block;
    position: absolute;
    top: 100%;
    right: var(--space-m);
    background-color: #386e98;
    line-height: var(--space-xl);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-0.7rem);
    transition: opacity 0.6s ease, transform 0.6s ease, visibility 0.6s ease;
  }
  .header-nav.open .menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
.menu li {
    display: block;
    text-align: center;
    padding-inline: 0;
  }

.dropdown-menu {
  background-color:#26587e;
}

  .section-startseite {
  padding-top: calc(5* var(--space-3xl));
  padding-bottom: calc(2* var(--space-3xl));
  }


  .overlay-text{
    width: 70%;
  }
  .overlay-text label{
    font-size: var(--font-size-l);
  }

.service-box , .span{
 width: 60%;
}
.service-box p {
  font-size: var(--font-size-s);
}

.reinigungsdienste-intro .container, .transport-p ,
.personalservice-p {
  max-width: 80%;
  }
  .reinigungsdienste-intro .container p{
    font-size: var(--font-size-m);
    line-height: var(--space-xl);
}

  .transport-text p, .transport-text p a ,
  .personalservice-text p , .personalservice-text p a{
    font-size: var(--font-size-m);
    line-height: var(--space-xl);
  }
    .kontakt-kontainer , .transport-kontakt{
    max-width: 70%;
  
  }


    .reinigung-div{
  padding-top: calc(2* var(--space-4xl)) ;
  background-size: contain;
  background-position:center calc(0% + 60px);
  }
  .r-inhalt {
    flex-direction: column;
    gap: var(--space-s);
  }
  .text-container{
    width: 80%;
  }
  .con2 {
    flex: 1 1 50%;
    max-width: 80%;
  }
  .r-p {
    font-size: var(--font-size-s);
    line-height: var(--space-xl);
  }

  .footer-container {
    flex-direction: column;
    align-items: center; 
    gap: var(--space-2xl);
  }
  .footer-div , .footer-logo{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .footer-div p,
  .footer-div p a,
  .footer-div ul li a {
    line-height: var(--space-xl);
  }
  .footer-div h5 {
    line-height: var(--space-xl);
  }
  .footer-logo img {
    max-height: unset;
  }
  .personal , .bewerber , .transportformular-section{
  padding-top:calc(3* var(--space-3xl)) ;
  background-size: contain;
  background-position:center calc(0% + 50px);  
}

  .bewerber-text, .personal-text, .bewerberForm,
   .personalForm, .uns-container , .impressum-container,
   .transportformular-text, .transportformular{

    width: 70%;
}
.bewerber-text p,
.personal-text p,
.transportformular-text p {
  line-height: var(--space-xl);
}
.personalForm textarea,
.transportformular textarea {
  padding-top: var(--space-xl);
}
.uns-impressum{
  padding-top: calc(3* var(--space-4xl)) ;
  background-size: contain;
  background-position:center calc(0% + 50px);
}
  .uns-container  p , .impressum-container p {
    line-height: var(--space-xl);
  }
}

/************************************************************************/
/************************************************************************/

@media (max-width: 509px) {
  .header-nav {
    width: 100%;
  }

    .menu-toggle {
    display: block;
    position: absolute;
    bottom: var(--space-m);
    right: var(--space-l);
  }
  .menu {
    border-radius: 5%;
    display: block;
    position: absolute;
    top: 100%;
    right: var(--space-m);
    background-color: #386e98;
    line-height: var(--space-xl);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-0.7rem);
    transition: opacity 0.6s ease, transform 0.6s ease, visibility 0.6s ease;
  }
  .menu li {
    display: block;
    text-align: center;
    padding-inline: 0;
  }
  .header-nav.open .menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

.dropdown-menu {
  background-color:#26587e;
}

  .section-startseite {
  padding-top: calc(5* var(--space-3xl));
  padding-bottom: calc(2* var(--space-xl));
  }

  .overlay-text{
    width: 90%;
  }
  .overlay-text label{
    font-size: var(--font-size-m);
  }

.service-box , .span{
 width: 100%;
}
  .service-box p {
  font-size: var(--font-size-s);
  line-height: var(--space-xl);
}


 .reinigungsdienste-intro h2 , .transport-text h2,
 .personalservice-text h2 {
  margin-inline: 5%;
  }

.reinigungsdienste-intro .container , .transport-p,
.personalservice-p{
  padding-top: var(--space-xl);
  max-width: 90%;
}

.reinigungsdienste-intro .container p{
    font-size: var(--font-size-m);
    line-height: var(--space-xl);
}

  .transport-text p, .transport-text p a ,
  .personalservice-text p , .personalservice-text p a{
    font-size: var(--font-size-m);
    line-height: var(--space-xl);
  }

    .kontakt-kontainer , .transport-kontakt{
    max-width: 100%;
  }

  .reinigung-div{
  padding-top: calc(2* var(--space-4xl)) ;
  background-size: contain;
  background-position:center calc(0% + 60px);
  }
  
  .r-inhalt {
    flex-direction: column;
    gap: var(--space-s);
  }
  
  .text-container{
    width: 100%;
  }
  .con2 {
    flex: 1 1 50%;
    max-width: 100%;
  }
  .r-p {
    font-size: var(--font-size-s);
    line-height: var(--space-xl);
  }




  .footer-container {
    padding-inline: unset;
    flex-direction: column;
    align-items: center; 
    gap: var(--space-2xl);
  }
  .footer-div , .footer-logo{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .footer-div p,
  .footer-div p a,
  .footer-div ul li a {
    line-height: var(--space-xl);
  }
  .footer-div h5 {
    line-height: var(--space-xl);
  }
  .footer-logo img {
    max-height: unset;
  }
  
  .personal , .bewerber , .transportformular-section{
  padding-top:calc(2* var(--space-4xl)) ;
  background-size: contain;
  background-position:center calc(0% + 50px);  
}

    .bewerber-text, .personal-text, 
    .bewerberForm, .personalForm, 
    .uns-container , .impressum-container,
    .transportformular-text, .transportformular{

    width: 90%;
}
.bewerber-text p,
.personal-text p ,
.transportformular-text p{
  line-height: var(--space-xl);
}
.bewerberForm input, .bewerberForm select,
.personalForm input, .personalForm select,
.personalForm textarea,
.transportformular input, .transportformular select,
.transportformular textarea {
  min-height: var(--space-xll);
}

.lebenslauf-container input, .personalForm textarea,
.transportformular textarea {
  padding-top: var(--space-xl);
}
.uns-impressum{
  padding-top: calc( 3 * var(--space-3xl)) ;
  background-size: contain;
  background-position:center calc(0% + 50px);
}
  .uns-container  p , .impressum-container p {
    line-height: var(--space-xl);
  }
}

  @supports (-webkit-overflow-scrolling: touch) {
  .section-startseite, .personalservice-section, .transport{
    background-attachment: scroll;
    background-position: center top; 
  } 
} 